[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn
x509_extensions = v3_req

[dn]
C = NG
ST = Lagos
L = Lagos
O = MyCompany
OU = Development
CN = 192.168.0.176

[v3_req]
subjectAltName = @alt_names

[alt_names]
IP.1 = 192.168.0.176
DNS.1 = localhost